body{
    position: relative;
}

/* title section  */

#title{
    background-color: #ff4c68;
}

h1{
    font-family: Montserrat;
    font-weight: 900;
    color: #fff;
    /* font-size: 3.5 rem; */
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

.monstreat-rest{
    font-family: Montserrat;
    font-weight: 500;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: 300 ;
}

.navbar{
    padding:0 0 4.5rem ;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.download-button{
    margin: 5% 3% 3% 0%;
}


.img-width{
        width: 60%;
        transform: rotate(25deg);
        

        /* z axis */
        position: absolute;
        z-index: 1;
        right: 30%;
        
    }

@media(max-width:990px){
    #title{
        text-align: center;
    }

    .img-width{
        transform: rotate(0deg);
        position: static;     
    }

   

}






/* features section */


.download-icons{
    color: #ef8172;
    margin: 5%;
    
}

.download-icons:hover{
    color:#ff4c68;
}

.h3-of-features{
    font-size: 1.5rem; 
    font-family: Montserrat; 
    font-weight: 700;
}

p{
    color: #8f8f8f;
}


#features{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;

    /* z axis */
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.col-of-features{
    padding :3%;
    

}


/* testimonials section  */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2{
    font-family: Monsterrat;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#carouselExampleControls{
    padding: 3%;
}

/* pricing */

#pricing{
    padding: 3%;
    text-align: center;
}

.h3-of-pricing{
    color: black;
}

.pricing-row{
    padding: 3%;
}

/* cta section  */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 3% 23%;
}

h3{
    
    font-family: Montserrat;
    font-weight: 900;
    color: #fff;
    
    
}

#footer{
    background-color: #fff;
    text-align: center;
    margin: 3%;
}

.footer-icons {
    padding: 3% 1%;
}

